
html{
scroll-behavior: smooth;
}
*, ::after, ::before {
	box-sizing: border-box;
 }
body {
width:100%;
margin: 0;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 1rem;
font-weight: 600;
line-height: 1.5;
color: #212529;
text-align: left;  
background-image:radial-gradient(#ff471a -5%,rgb(0, 0, 0));
background-repeat: no-repeat;
overflow-x: hidden;
height:auto;

 }
 .navibar{
 overflow-x: hidden;
 backface-visibility: hidden;
 z-index:10;
 background-color: #bfbfbf;
 position:fixed;
 width:100%;
 }
 .navibar a:not(:last-child)
 {
display: block;
text-align: center;
 text-decoration: none;
 color: black;
 text-emphasis: bold;
 font-weight: bold;
 font-style: "Arial Black", Gadget, sans-serif;
 float:left;
 margin-right: 1rem;
}
.navibar a:last-child
{
margin-left:-5rem;
}
 .navibar a:hover:not(:last-child):not(:first-child)
{
padding-top:0.1rem;
border-bottom: 4px solid black;
border-radius:100px;
}
.navibar a:active
{
border: none;
}
.homepg
{
background-image:repeating-linear-gradient(to right bottom,
rgba(255, 51, 0,0.5),
rgba(0, 0, 0,1)), url('../images/home.jpg');
background-repeat:no-repeat;
background-size: cover;
background-position:top;
height:45rem;
width:100%;
position:relative;
}
.homehead
{
position: absolute;
color:red;
top:45%;
left: 50%;
transform:translate(-50%,-10%);
font-size:3rem;
border: 10px solid white;
padding:2rem;
text-align: center;
}




.aboutpg
{
	width:100%;
	height:20rem;
	background-color:#f5f3f2;
	position: relative;
}
.aboutheader
{
	display:flex;
	height:15%;
	margin: 0.1rem 0 1rem 0;
	background-color:#9c918c;
	border-bottom: 0.01rem solid #f5f3f2 ;
}
.abouttitle
{
	outline:none;
	border:none;
	background-color:#9c918c;
	font-size:1.2rem;
	cursor:pointer;
	margin-top: 0.5rem;
	margin-left: 0.4rem;
	padding:0 1rem;
	transition: all 0.3s ease;
	
}

.abouttitle:hover{
	color:red;
	background-color: #f5f3f2;
	border-top: 0.01rem solid black;
	border-left: 0.01rem solid black;
	border-right: 0.01rem solid black;
	border-bottom:0.01rem solid #f5f3f2;
	border-top-left-radius:0.6rem;
	border-top-right-radius:0.6rem ;
}
.infotext
{
	font-size: 1rem;
	display:flex;
	position:absolute;
	top:10%;
	color:#544e4e;
	margin:2rem 0.6rem;
}
.aboutinfo1
{
	display:none;
}
.aboutinfo2
{
	
}
.aboutinfo3
{
	display:none;
}



.futureSpeakers
{
width:100%;
height:110vh;
background-image:repeating-linear-gradient(to right bottom,
rgba(0, 0, 0,0.8),rgba(255, 51, 0,0.4)
), url("../images/futsp.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position:center;
position: relative;
}
.fut_txt
{
position: absolute;
top: 50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
background-image: linear-gradient(to right bottom,
rgba(233, 38, 71, 0.8),rgba(226, 15, 15, 0.4));
font-style: italic;
font-size:1.5rem;
border: 0.6rem ridge black;
text-align:center;
padding:2rem;
}

		/* ------- Speakers Section css code
								-----------*/

.speakers
{
width:100%;
max-height:424rem;
margin:3rem 0.2rem 3rem 0.2rem;
box-shadow: none;
display:flex;
flex-wrap: wrap;
justify-content: space-between;
background-color:black;
}
.heading
{
	color:rgb(0, 0, 0);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	transition: all 0.2s ease 0s;
}
.heading:hover
{
	letter-spacing: 0.12rem;
}
.spcard
{
	outline: none;
	background-color: black;
	border:none;
	float:left;
	margin: 1rem;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s;
}
.spimgpg
{
 /*position: relative;*/
}
.spcard .spimg
{
border: 0.5rem groove red;
width: 15rem;
height:15rem;
border-radius:10rem;

}
.spcard:hover .spimg
{
border: 0.6rem groove #cc0000;
border-radius:3rem;
transform:scale(0.9);
}
.modal{
	position:fixed;
	top:20%;
	left:20%;
	transform: scale(0);
	width:60vw;
	height:35vh;
	z-index:100;
	max-width: 80%;
	
}
.modal.active {
	transform: scale(1);
   }
.popup
{
	
	height:100%;
	width: 100%;
	background-color:#3d3534 ;
	z-index:100;
	border:0.05rem solid black;
	border-radius:0.68rem;
}
.popheader
{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.poptitle
{
	padding-left:1rem;
	color:#ff2600;
	font-size:2rem;
	margin-bottom:0.8rem;
	font-family:  Medium sans-serif;
}
.closepop
{
	border:none;
	cursor:pointer;
	outline:none;
	font-size: 3rem;
	padding-right:1rem;
	background-color:#3d3534 ;
	color:red;
	transition: transform 0.3s ease;
}
.closepop:hover{
	color:#f00e1d;
	transform: scale(0.855);
}
.poprow
{
	height:70%;
	background-color: white;
	padding:0.5rem;
	font-family: cursive;
}
#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
   }
   
 #overlay.active {
	opacity: 1;
	pointer-events: all;
}



.spcaption
{
display:block;
width: 80%;
height:3rem;
opacity:0;
position: absolute;
top:50%;
left:9.8%;
background-color:red;
color:white;
text-align:center;
border: 0.3rem solid white;
border-radius:2rem;
backface-visibility: hidden;
transition: all 0.2s ease-out 0s;

}
.spimgpg:hover .spcaption
{
	opacity:1;
	transform:translate(0,140%);
}

.gallery
{
	background-color: black;
	width:100%;
	margin: 2rem 0.1rem;
	padding-top:2rem;
}
.galtext{
	display:flex;
	border:0.01rem solid white;
	margin-bottom:-1rem;


}
.gallerybimg
{

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
}
.gallerydispimg
{

	width:66%;
	height:25rem;
	border: 1rem solid red;
	border-radius:4rem;
}
.row
{
display:flex;
flex-direction: row;
padding-bottom:2.5rem;
}
.row:not(:last-child)
{
	margin-bottom:-1.9rem;
	padding-top:0.9rem;
}
.row img
{
height:200px;
width:20%;
flex-grow: 1;
 cursor: pointer;
 padding:0.8rem;
 opacity:0.3;
 transition:opacity 0.3s ease;
 border: 0.01rem solid red;
}
.row img:hover
{
	opacity:1;
}
.involvepg
{
	width:100%;
	height:40rem;
	background-image:repeating-linear-gradient(to right bottom,
	rgba(0, 0, 0,1),rgba(255, 51, 0,0.6)
	), url("../images/ted.gif");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	margin-bottom:1.3rem;
	position: relative;
}
.innerbox
{
	position: absolute;
	top:3%;
	left:10%;
	height:94%;
	width:80%;
	border: 0.1rem solid white;
	border-radius: 2rem;
}
.irow
{
	width:100%;
	height:600px;
	display:flex;
	flex-direction:row;
	flex-grow: 1;
	margin-top: 1rem;

}
.icol{
	justify-content: center;
	align-items: center;
	text-align: center;
	width:25%;
	margin:0.8rem 2rem;
	padding:0.2rem;
}
.iconstyle
{
	background-color:black;
	border:0.1rem solid white;
	border-radius:20rem;
}
.applybutton
{
	position: absolute;
	top:75%;
	left:42%;
	border:none;
	outline:none;
	width:18%;
	height:9%;
	text-transform: capitalize;
	float:center;
	color:red;
	font-size:medium ;
	font-weight:1000;
	border-radius: 10rem;
}
.applybutton:hover
{
	transform:translateY(-0.8px) scaleX(1.01119);
}
.applybutton:active
{
	transform:translateY(1px);
}
.applybutton::after
{
	content:"";
	display:inline-block;
	width:100%;
	height:100%;
	border-radius: 50px;
	position:absolute;
	transition: all 0.6s ease;
}
.applybutton:hover::after
{
	transform: scaleX(1.6) scaleY(1.2);
	opacity:0;

}


.footerpg
{
	display:flex;
	flex-shrink: 0;
	flex-grow:1;
	background-color: #333333;
	width:100%;
	height:20.5rem;
}
.footer{

width: 33.33%;
height: 15.5rem;
flex-direction: row;
margin:0.5rem 1rem 0.3rem 1rem;
}
.footlinks
{
	text-decoration: none;
	color:white;
	padding-bottom:0.8rem;
}
.footlinks:hover{
	color:red;

}
.footimg
{
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	width:39.38rem;
}
.mapbutton
{
	margin-left:1.2rem;
	border-radius:10rem;
	color:red;
}


@media screen and (max-width: 69.38rem) 
{
	.spcard
	{
		margin: 0.1rem;
	}
	.spcard .spimg
	{
		width: 9.5rem;
		height: 9.5rem;
	}
	.spcaption
	{
		height: 3.35rem;
	}
	.spimgpg:hover .spcaption
	{
		transform:translate(0,76%);
	}
	.row img{
		flex-grow: 0.36;
	}
	.row{
		flex-wrap:warp;
	}

}
@media screen and (max-width: 52.5rem) 
{
	.speakers
	{
		flex-direction: column;
		justify-content: center;
    		align-items: center;	
	}
	.spcard{
		margin-bottom:1.5rem;
	}
	.modal{
		height:auto;
		max-height:700px;
	}
	.involvepg{
		height:54rem;
	}
	.irow
	{
		flex-grow: 0;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.icol{
		margin: 0rem 2rem;
		padding: 0rem
	}
	.applybutton
	{
		top:86%;
		width:19%;
	}
}
@media screen and (max-width:38rem)
{
	.applybutton
	{
		top: 90.1%;
		left: 37%;
		width: 30%;
		height: 7%;
	 }
	}
}